ai.cpython-310.pyc
hangman.cpython-310.pyc
picture.cpython-310.pyc
pictures.cpython-310.pyc
process.cpython-310.pyc
test_hangman.cpython-310-pytest-7.2.0.pyc
picture_eight.txt
picture_five.txt
picture_four.txt
picture_nine.txt
picture_one.txt
picture_seven.txt
picture_six.txt
picture_three.txt
picture_two.txt
picture_zero.txt

